.container {
	height: 300px;
	width: max-content;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #191919;
}
.delete-btn {
	height: 50px;
	width: 50%;
	border-radius: 10px;
	border: none;
	background-color: #f44336;
}
.delete-btn:hover {
	background-color: #da190b;
}
